body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-size: 5em;
    letter-spacing: -0.05em;


}
img {
    width: 480px;
    height: 320px;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.city {
    text-align: center;
}

a {
    text-decoration: none;
}

p {
    font-style: italic;
    font-size: 1.5em;
    margin: 0 0;
}

